aside.menu {
    background: $cor_primaria;
    height: 100%;
    position: fixed;
    width: 250px;

    ul {
        list-style: none;
        color: #fff;
        font-size: 20px;
        line-height: 40px;
        text-decoration: underline;
    }
}