<section class="section-mensagem">
    <span class="d-inline-block mb-3"> Broken Access Control </span>

    <p>
        O controle de acesso aplica políticas de forma que os usuários
        não possam agir fora das permissões pretendidas. Falhas geralmente
        levam à divulgação não autorizada de informações, modificação
        ou destruição de todos os dados ou à execução de uma função comercial
        fora dos limites do usuário. Vulnerabilidades comuns de controle de
        acesso incluem, neste caso:
    </p>

    <br>

    <p>
        Ignorar verificações de controle de acesso modificando a URL
        (violação de parâmetros ou navegação forçada), o estado interno do aplicativo
        ou a página HTML, ou usando uma ferramenta de ataque modificando solicitações
        de API.
    </p>
</section>