<nav class="menu d-flex justify-content-between align-items-center">
    <img src="/imagens/logo.png">

    <ul class="d-flex justify-content-between align-items-center w-25">
        <li> <a href="/pagamentos"> Pagamentos </a> </li>
        <li> <a href="/usuarios"> Usuários </a> </li>
    </ul>
</nav>