{% include 'base/head.twig' %}

<main class="login">
    <section class="login-section login-section-info">
        <h1> PHP SP </h1>
    </section>

    <section class="login-section login-section-form">
        <form method="post" action="/login" class="d-flex flex-column w-100 align-items-center">
            <label for="input-email"> E-mail </label>
            <input name="email" type="email" id="input-email"{% if email %} value="{{ email }}" {% endif %} class="w-50">

            <label for="input-senha"> Senha </label>
            <input name="senha" type="password" id="input-senha" class="w-50">

            {% if erro %}
                <p class="mensagem_erro"> {{ erro }} </p>
            {% endif %}

            <button type="submit" class="w-50 mt-3"> Entrar </button>
        </form>
    </section>
</main>